{% extends "home/base.html" %}
{% load staticfiles %}
{% block mainBody %}


<br>
    <div class="container">
    <img class="img-fluid mb-5 d-block mx-auto" {% if aboutImg %}src="/media/{{ aboutImg }}" {% endif %} alt="">

        <h2 class="text-center text-uppercase text-secondary mb-0">About me</h2>
        <hr class="star-dark mb-5">
            <div class="text-center">
            {% if about %}
             {{ about }}
            {% endif %}
            </div>
    </div>





<br>
{% endblock mainBody %}