{% extends "home/base.html" %}
{% load staticfiles %}
{% block mainBody %}


<br>
    <div class="row"><div class="col-md-4  text-center"></div>
        <div class="col-md-4  text-center">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><img {% if aboutImg %}src="/media/{{ aboutImg }}" {% endif %} class="rounded-circle" alt="profile" width="120" height="130"/></li>
            {% if about %}  <li class="list-group-item">{{ about }} {% endif %}</li>
        </ul>
        </div>
        </div>




<br>
{% endblock mainBody %}