{% extends "home/base.html" %}
{% load staticfiles %}
{% block mainBody %}
      <br>
      <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-5">
              <p>
              <img style="height:450px; width:400px;" {% if aboutImg %}src="/media/{{ aboutImg }}" {% endif %} alt="">
              </p>
          </div>
          <div class="col-sm-5">
          <p>
              <h2 class="display-4">About...</h2>
              <p>{% if about %}{{ about }}{% endif %}</p>
          </p>
          </div>
          <div class="col-sm-1"></div>
      </div>

{% endblock mainBody %}