{% extends "home/base.html" %}
{% load staticfiles %}
{% block mainBody %}

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
       <br>
{#      <ol class="breadcrumb">#}
{#        <li class="breadcrumb-item">#}
{#            <a href="/">Home</a>#}
{#        </li>#}
{#        <li class="breadcrumb-item active">Contact</li>#}
{#      </ol>#}
      <!-- Content Row -->
      <div class="row">
        <!-- Map Column -->
        <div class="col-lg-8 mb-4">
          <!-- Embedded Google Map -->
          <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d28876.04777282162!2d55.340291132746046!3d25.219877738645994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2snp!4v1528052939523"></iframe>
        </div>
        <!-- Contact Details Column -->
        <div class="col-lg-4 mb-4">
          <h3>Contact Details</h3>
          <p>
            <br>
          </p>
          <p>
            <abbr title="Phone">P</abbr>: {% if Phone %}  {{ Phone }} {% endif %}
          </p>
          <p>
            <abbr title="Email">E</abbr>: {% if Email %} <a href="mailto:{{ Email }}">
            {{ Email }}</a> {% endif %}
          </p>
          <p>
            <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM
          </p>
            <p><img {% if contactImg %} src="/media/{{ contactImg }}" {% endif %}class="rounded-circle" alt="profile" width="200" height="200"></p>
        <p style="margin-left:35px;">
        <a  {% if fblink %}href="{{ fblink }}"{% endif %} class="fa fa-facebook" target="_blank"></a>
        <a {% if ytlink %}href="{{ ytlink }}"{% endif %} class="fa fa-youtube" target="_blank"></a>
        <a {% if instalink %}href="{{ instalink }}"{% endif %} class="fa fa-instagram" target="_blank"></a>
        </p>
        </div>
      </div>
      <!-- /.row -->

{#      <!-- Contact Form -->#}
{#      <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->#}
{#      <div class="row">#}
{#        <div class="col-lg-8 mb-4">#}
{#          <h4 id="navName">Feel free to drop me a line</h4>#}
{#          <form name="sentMessage" id="contactForm" novalidate>#}
{#            <div class="control-group form-group">#}
{#              <div class="controls">#}
{#                <label>Full Name:</label>#}
{#                <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">#}
{#                <p class="help-block"></p>#}
{#              </div>#}
{#            </div>#}
{#            <div class="control-group form-group">#}
{#              <div class="controls">#}
{#                <label>Phone Number:</label>#}
{#                <input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">#}
{#              </div>#}
{#            </div>#}
{#            <div class="control-group form-group">#}
{#              <div class="controls">#}
{#                <label>Email Address:</label>#}
{#                <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">#}
{#              </div>#}
{#            </div>#}
{#            <div class="control-group form-group">#}
{#              <div class="controls">#}
{#                <label>Message:</label>#}
{#                <textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>#}
{#              </div>#}
{#            </div>#}
{#            <div id="success"></div>#}
{#            <!-- For success/fail messages -->#}
{#            <button type="submit" class="btn btn-primary" id="sendMessageButton">Send Message</button>#}
{#            <div class="g-recaptcha" data-sitekey="6Lfy_VwUAAAAAHLDT23FnHDBhgEqizn2JJwVOpq5"></div>#}
{#          </form>#}
{#        </div>#}
{##}
{#      </div>#}
      <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock mainBody %}