{% extends "home/base.html" %}
{% load staticfiles %}
{% block mainBody %}
<div class="content container">
    <div class="col">
        <p><h4>Manage Profile</h4></p>
         <div class="row">
            <div class="col-md-8">
                <form method="post" enctype="multipart/form-data" class="post-form">
                    {% csrf_token %}
                    {{  form.as_p }}
                    <input type="submit" class="btn btn-success" value="submit"/>
                </form>
                <p>
                <form action="/logout/" method="post">
                {%csrf_token%}
                <button type="submit" class="btn btn-success">Logout</button>
                </form></p>
            </div>
         </div>

    </div>
</div>

<br>


{% endblock mainBody %}