{% extends "home/base.html" %}
{% load staticfiles %}
{% block mainBody %}
<br>
<div class="row">
        <div class="col-md-7 detailCarousel">
          <div id="demo" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
              </ul>

              <!-- The slideshow -->
              <div class="carousel-inner">
                {% if object.image_1 %}
                <div class="carousel-item active">
                  <img src="/media/{{ object.image_1 }}" alt="Los Angeles" width="1100" height="500">
                </div>
                {% endif %}
                 {% if object.image_2 %}
                  <div class="carousel-item">
                  <img src="/media/{{ object.image_2 }}" alt="New York" width="1100" height="500">
                  </div>
                  {% endif %}
              </div>

              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
              </div>
        </div>
        <div class="col-md-4">
            <h3 class="my-3">{{ object.title }}</h3>
            <p>{{ object.description }}</p>
        </div>
</div>
<br>
{% endblock mainBody %}
