{% extends "home/base.html" %}
{% load staticfiles %}
{% load social_widgets %}
{% block mainBody %}
<br>
<div class="container">
<div class="row">
    {% if  items %}
        {% for item in items %}
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
           <!-- <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a> -->
            <a href="#"><img class="card-img-top" src="/media/{{ item.image_1 }}" style="max-height: 230px;"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/itemDetail/{{ item.pk }}">{{ item.title|title }}</a>
              </h4>
              <p class="card-text">{{ item.description|truncatewords:"15"}}</p>

              {% social_widget_render "facebook/likebox.html" href="https://www.facebook.com/FacebookDevelopers" %}
            </div>
          </div>
        </div>
     {% endfor %}
    {% endif %}
    </div><!-- /.row -->
{% if is_paginated %}
  <nav>
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
            <span>Previous</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">
            <span>Previous</span>
          </a>
        </li>
      {% endif %}

      {% for page in paginator.page_range %}
        <li  {% if page == page_obj.number %}class="page-item active"{% endif %}>
          <a class="page-link" href="?page={{ page }}">{{ page }}</a>
        </li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">
            <span>Next</span>
          </a>
        </li>
      {% else %}
        <li {% if not page_obj.has_next %}class="page-item disabled"{% endif %}>
          <a class="page-link" href="#">
            <span>Next</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
</div>
<br>
</div>

{% endblock mainBody %}
